set input-meta on
set output-meta on
set bell-style none
set match-hidden-files off
set completion-ignore-case on
set completion-map-case on
set editing-mode vi
set keyseq-timeout 0
set echo-control-characters off
set isearch-terminators "\C-j "

$if Bash
    set colored-stats on
    set visible-stats on
    set mark-symlinked-directories on
    set colored-completion-prefix on
    set menu-complete-display-prefix on

    set show-mode-in-prompt on
    set vi-ins-mode-string \1\033]12;grey30\033\\\2
    set vi-cmd-mode-string \1\033]12;grey70\033\\\2
$endif

set convert-meta on
set keymap vi-command
"\C-a": beginning-of-line
"\C-?": backward-delete-char
"\C-e": end-of-line
"\C-h": backward-delete-char
"\C-k": kill-line
"\C-l": clear-screen
"\C-n": history-search-backward
"\C-p": history-search-forward
"\C-o": re-read-init-file
"\C-t": transpose-chars
"\C-u": unix-line-discard
"\C-v": quoted-insert
"\C-w": unix-word-rubout
"\C-y": yank
"\t": complete
"\C-d": self-insert
"\M-y": yank-last-arg
"\M-p": reverse-search-history
"\M-n": forward-search-history
"\M-b": clear-screen

set keymap vi-insert
"\C-a": beginning-of-line
"\C-?": backward-delete-char
"\C-e": end-of-line
"\C-h": backward-delete-char
"\C-k": kill-line
"\C-l": clear-screen
"\C-n": history-search-backward
"\C-p": history-search-forward
"\C-o": re-read-init-file
"\C-t": transpose-chars
"\C-u": unix-line-discard
"\C-v": quoted-insert
"\C-w": unix-word-rubout
"\C-y": yank
"\t": complete
"\C-d": self-insert
"\M-y": yank-last-arg
"\M-p": reverse-search-history
"\M-n": forward-search-history
"\M-b": clear-screen
set convert-meta off
