set input-meta on
set output-meta on
set convert-meta on
set bell-style none
set match-hidden-files off
set completion-ignore-case on
set completion-map-case on
set editing-mode vi
set keyseq-timeout 0
set echo-control-characters Off
set isearch-terminators "\C-j "

set colored-stats on                 # color files by types
set visible-stats on                 # append char to indicate type
set mark-symlinked-directories on    # mark symlinked directories
set colored-completion-prefix on     # color the common prefix
set menu-complete-display-prefix on  # color the common prefix in menu-complete

set keymap vi-command
"\C-a": beginning-of-line
"\C-?": backward-delete-char
"\C-e": end-of-line
"\C-h": backward-delete-char
"\C-k": kill-line
"\C-l": clear-screen
"\C-n": history-search-backward
"\C-p": history-search-forward
"\C-o": re-read-init-file
"\C-t": transpose-chars
"\C-u": unix-line-discard
"\C-v": quoted-insert
"\C-w": unix-word-rubout
"\C-y": yank
"\t": complete
"\C-d": self-insert
"\M-y": yank-last-arg
"\M-p": reverse-search-history
"\M-n": forward-search-history
"\M-l": clear-screen

set keymap vi-insert
"\C-a": beginning-of-line
"\C-?": backward-delete-char
"\C-e": end-of-line
"\C-h": backward-delete-char
"\C-k": kill-line
"\C-l": clear-screen
"\C-n": history-search-backward
"\C-p": history-search-forward
"\C-o": re-read-init-file
"\C-t": transpose-chars
"\C-u": unix-line-discard
"\C-v": quoted-insert
"\C-w": unix-word-rubout
"\C-y": yank
"\t": complete
"\C-d": self-insert
"\M-y": yank-last-arg
"\M-p": reverse-search-history
"\M-n": forward-search-history
"\M-l": clear-screen
